In [1]:
import task_reader as tr
import os
import pandas as pd
%load_ext autoreload
%autoreload 2

In [2]:
rating_dict = {'vd': 0, 'd': 130, 'n': 165, 'p': 70, 'vp': 0, 'work_time': 365, 'elapsed_time': 230, 'breaks': 1, 'productivity_pulse': 0}

In [3]:
tr.calc_productivity_pulse(**rating_dict)

In [4]:
def walk_through_files(path, file_extension='.md'):
    for (dirpath, dirnames, filenames) in os.walk(path):
        for filename in filenames:
            if filename.endswith(file_extension):
                yield os.path.join(dirpath, filename)

In [11]:
### We have to make it not exclusive to a particular date
path = "../../Accountability/Dailies/"
dir_list = os.listdir(path)
# print(dir_list)
# for filename in dir_list:
#     with open(path, 'r') as f:
#         tr.task_splitter(filename, f)
tasks = []      
for fname in walk_through_files(path):
    date = os.path.basename(fname).split('.')[0]
    task_mode = fname.split('/')[-2]
    print(date)
    print(tr.task_features(date, task_mode, fname))
    tasks.append(tr.task_features(date, task_mode, fname))
    print(len(tasks))

print('finish')
print(len(tasks))
print('-------------', tasks)


df = pd.DataFrame.from_records(tasks)
df.head()

# df_dailies = df.groupby('date')
# print(df_dailies.productivity_pulse.mean())
# means = df_dailies.productivity_pulse.mean()
# print(means)
# df.plot(means, kind='line')

2023-10-02
{'date': '2023-10-02', 'task_mode': 'Learning_Mode', 'vd': 480, 'd': 1080, 'n': 1293, 'p': 2352, 'vp': 2292, 'work_time': 7497, 'elapsed_time': 10563, 'breaks': 60, 'productivity_pulse': 67.92717086834735}
1
2023-10-02
{'date': '2023-10-02', 'task_mode': 'Job_Mode', 'vd': 520, 'd': 1080, 'n': 1385, 'p': 2352, 'vp': 2292, 'work_time': 7629, 'elapsed_time': 10695, 'breaks': 60, 'productivity_pulse': 67.48590903132782}
2
2023-09-16
{'date': '2023-09-16', 'task_mode': 'Job_Mode', 'vd': 560, 'd': 1170, 'n': 1408, 'p': 2415, 'vp': 2292, 'work_time': 7845, 'elapsed_time': 10938, 'breaks': 62, 'productivity_pulse': 66.79094964945826}
3
2023-09-15
{'date': '2023-09-15', 'task_mode': 'Job_Mode', 'vd': 560, 'd': 1260, 'n': 1408, 'p': 2478, 'vp': 2292, 'work_time': 7998, 'elapsed_time': 11118, 'breaks': 64, 'productivity_pulse': 66.38534633658415}
4
2023-10-02
{'date': '2023-10-02', 'task_mode': 'Development_Mode', 'vd': 560, 'd': 1260, 'n': 1408, 'p': 2514, 'vp': 2292, 'work_time': 8034, 'elapsed_time': 11154, 'breaks': 64, 'productivity_pulse': 66.42394822006472}
5
2023-09-16
{'date': '2023-09-16', 'task_mode': 'Development_Mode', 'vd': 560, 'd': 1260, 'n': 1408, 'p': 2596, 'vp': 2465, 'work_time': 8289, 'elapsed_time': 11450, 'breaks': 65, 'productivity_pulse': 67.20955483170466}
6
2023-09-15
{'date': '2023-09-15', 'task_mode': 'Development_Mode', 'vd': 560, 'd': 1390, 'n': 1573, 'p': 2712, 'vp': 2638, 'work_time': 8873, 'elapsed_time': 12105, 'breaks': 67, 'productivity_pulse': 67.01228445846952}
7
finish
7
------------- [{'date': '2023-09-15', 'task_mode': 'Development_Mode', 'vd': 560, 'd': 1520, 'n': 1738, 'p': 2782, 'vp': 2638, 'work_time': 9238, 'elapsed_time': 12500, 'breaks': 68, 'productivity_pulse': 66.17774410045463}, {'date': '2023-09-15', 'task_mode': 'Development_Mode', 'vd': 560, 'd': 1520, 'n': 1738, 'p': 2782, 'vp': 2638, 'work_time': 9238, 'elapsed_time': 12500, 'breaks': 68, 'productivity_pulse': 66.17774410045463}, {'date': '2023-09-15', 'task_mode': 'Development_Mode', 'vd': 560, 'd': 1520, 'n': 1738, 'p': 2782, 'vp': 2638, 'work_time': 9238, 'elapsed_time': 12500, 'breaks': 68, 'productivity_pulse': 66.17774410045463}, {'date': '2023-09-15', 'task_mode': 'Development_Mode', 'vd': 560, 'd': 1520, 'n': 1738, 'p': 2782, 'vp': 2638, 'work_time': 9238, 'elapsed_time': 12500, 'breaks': 68, 'productivity_pulse': 66.17774410045463}, {'date': '2023-09-15', 'task_mode': 'Development_Mode', 'vd': 560, 'd': 1520, 'n': 1738, 'p': 2782, 'vp': 2638, 'work_time': 9238, 'elapsed_time': 12500, 'breaks': 68, 'productivity_pulse': 66.17774410045463}, {'date': '2023-09-15', 'task_mode': 'Development_Mode', 'vd': 560, 'd': 1520, 'n': 1738, 'p': 2782, 'vp': 2638, 'work_time': 9238, 'elapsed_time': 12500, 'breaks': 68, 'productivity_pulse': 66.17774410045463}, {'date': '2023-09-15', 'task_mode': 'Development_Mode', 'vd': 560, 'd': 1520, 'n': 1738, 'p': 2782, 'vp': 2638, 'work_time': 9238, 'elapsed_time': 12500, 'breaks': 68, 'productivity_pulse': 66.17774410045463}]

,date,task_mode,vd,d,n,p,vp,work_time,elapsed_time,breaks,productivity_pulse
0,2023-09-15,Development_Mode,560,1520,1738,2782,2638,9238,12500,68,66.177744
1,2023-09-15,Development_Mode,560,1520,1738,2782,2638,9238,12500,68,66.177744
2,2023-09-15,Development_Mode,560,1520,1738,2782,2638,9238,12500,68,66.177744
3,2023-09-15,Development_Mode,560,1520,1738,2782,2638,9238,12500,68,66.177744
4,2023-09-15,Development_Mode,560,1520,1738,2782,2638,9238,12500,68,66.177744